.mod-home-a-tpl{
    
}
.mod-home-a-tpl h1{
    display: block;
    line-height: 40px;
    height: 40px;
    padding-left: 10px;
    background: #eee;
    color: #333;
}
.mod-home-a-tpl .inner-content{
    background: #fff;
    padding: 20px;
}